body {
  background-color: #FFF;
}

.negative-top-margin {
  margin-top: -10px;
}

.no-vertical-margin {
  margin-top: 0;
  margin-bottom: 0;
}

.right-margin {
  margin-right: 8px;
}

.top-margin-xsmall {
  margin-top: 5px;
}

.top-margin-small {
  margin-top: 15px;
}

.bottom-margin-small {
  margin-bottom: 25px;
}

.top-margin-medium {
  margin-top: 30px;
}

.top-margin-large {
  margin-top: 50px;
}

.well.adrequest {
  margin-top: 25px;
}

.top-border-none {
  border-top: none;
}

.border-rounded {
  border-radius: 3px;
}

.logo-header-container {
  text-align:center;
  height: 117px;
}

.logo-header-content {
  position:relative;
  margin: 20px auto 0 auto;
  display:inline-block;
}

.logo-header-image {
  margin-bottom:15px;
}

.logo-header-text {
  font-size: 70px;
  font-weight: 300;
  display:inline-block;
  margin-left:-22px;
}
