body {
  background-color: #FFF;
}

.no-vertical-margin {
  margin-top: 0;
  margin-bottom: 0;
}

.right-margin {
  margin-right: 8px;
}

.top-margin-small {
  margin-top: 15px;
}

.top-margin {
  margin-top: 50px;
}

.well.adrequest {
  margin-top: 25px;
}
